@font-face {
  font-family: 'Myriad Pro';
  font-weight: 400;
  font-style: normal;

  src: local('Myriad Pro'), local('MyriadPro'), url(../font/MyriadPro-Regular.woff) format('woff');
}

* {
  box-sizing: border-box;

  font-size: 0;
}

body {
  height: 2000px;
  padding: 200px 0;

  font-family: 'Myriad Pro', sans-serif;
}

.wrapper {
  position: relative;

  width: 562px;
  margin: 0 auto;
}

.block {
  position: absolute;

  width: 522px;
  height: 745px;

  border: solid 2px #000;
}

.block-front {
  top: 0;
  left: 0;

  padding: 30px;

  background-color: #EBEBEB;
}

.block-middle {
  top: 20px;
  left: 20px;

  background-color: #CCC;
}

.block-back {
  top: 40px;
  left: 40px;

  background-color: #ACACAC;
}

.sticker {
  position: absolute;
  top: 38px;
  right: -83px;

  width: 110px;
  height: 35px;

  border: solid 2px #000;
  border-radius: 0 10px 10px 0;
  background-color: #F68E56;
}

.sticker-back {
  right: -17px;

  background-color: #00AEEF;
}

.sticker-middle {
  right: -50px;

  background-color: #39B54A;
}

h1 {
  margin: 10px 0;

  font-size: 24px;
}

.img1 {
  margin: 0 23px 15px 0;
}

.img2 {
  margin-left: 6px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.jockes {
  margin-top: 15px;
}

p {
  font-size: 12px;
}

.with-margin {
  margin: 20px 0;
}

figcaption {
  font-size: 18px;
}

footer {
  padding: 27px 0 17px;

  text-align: center;

  font-size: 9px;
}

.social {
  position: fixed;
  right: 0;
  bottom: 0;

  width: 90px;
  height: 70px;
  padding: 8px 0;

  text-align: center;

  border: solid 2px #000;
  background-color: #FBAF5D;

  font-size: 16px;
}

.social-icon {
  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 9px 5px 0 0;

  border-radius: 10px;
}

.social-icon:last-child {
  margin-right: 0;
}

.clearfix:after {
  display: block;
  clear: both;

  content: '';
}
